html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F9F0DA;
    overflow:hidden;
    margin-bottom:20px;
    align-items: center;
}
.wrapper{
    margin: auto;
    overflow:hidden;
}
#logo{
    width: 20%;
    display: flex;
    margin-top: 30px;
}

#options{
    text-decoration: none;
    display: flex;
    float: right;
    align-items: center;
}
#options li {
    display: inline;
}
#options li a{
    text-decoration: none;
    text-transform:uppercase;
    padding: 20px;
    display:inline-block;
    color: black;
}
#subheader{
    margin: 10px;
}
#clases{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    }

    figure{
        margin: 0em;
        width: 100%;
    }
    .IMG img{
        width: 100%;
    }

    footer{
        background-color: #F9F0DA;
        width: 100%;
    }


@media (min-width: 600px) {
    #clases{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 10px;
        margin: 10px;
        width: 90%;
    }
    #subheader{
        margin: 50px;
    }

}
@media (min-width: 1200px) {
    #clases{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        padding: 10px;
        margin: 10px;
        width: 95%;
    }
    #subheader{
        margin: 100px;
        max-width: 900px;
    }

}